@import '@/styles/components/poster';
@import '@/styles/components/loading';

.base-page {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  padding: 20px;
  row-gap: 8px;
  column-gap: 12px;
  margin-top:60px;
  img {
    z-index: 10;
  }
}
@media screen and(max-width:768px) and (min-width: 300px) {
  .base-page {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 2px;
    padding: 10px;
    padding-top: 10vh;
    margin-top: 0;
  }
}
@media screen and(max-width:1400px) and (min-width: 768px) {
  .base-page {
    grid-template-columns: repeat(6, 1fr);
  }
}
