.characters-container {
  max-height: 250px;
  width: 100%;
}

.character {
  &-wrapper {
    position: relative;
    margin: 0 0.2rem;
  }
  &-info-container {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    color: white;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.9rem;
    &:hover {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 1)
      );
      cursor: pointer;
      animation: animateOpacity 0.5s ease-in-out forwards;
    }
  }
  &-info-wrapper {
    padding: 0 8px;
  }
  &-info-original-name {
    font-weight: bold;
  }
}
.character-slide {
  max-width: 170px;
  max-height: 250px;
}
.characters-slider {
  max-height: 250px;
  &-button {
    &-next {
      background-color: transparent;
      border: none;
      position: absolute;
      left: 100%;
      top: 40%;
      text-decoration: none;
      outline-width: 0;
      outline: none;
      color: white;
    }
  }
}
.characters-slider-provider {
  position: relative;
}
.loading {
  // display: none !important;
}
// .loading::before {
//   content: '';
//   position:absolute;
//   top:0;
//   background: url('/loading.gif') no-repeat center;
//   z-index: 99;
//   width: 100%;
//   height: 100%;
// }
.poster{
  border-radius: 4px;
}
@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 762px) {
  .characters-container {
    width: 100%;
  }
  .characters-slider {
    height: 250px;
  }
  .character {
    &-info-container {
      position: relative;
      z-index: 10;
      opacity: 1;
      margin: 0;
      font-size: 0.7rem;
    }
  }
}
