.poster-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.poster-info {
  &-container {
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 10;
    top: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    &:hover {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 1)
      );
      cursor: pointer;
      animation: animateOpacity 0.5s ease-in-out forwards;
    }
  }
  &-overview {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 72px;
    color: white;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    text-align: justify;
    padding: 10px 7px 0px 7px;
    margin-bottom: 10px;
  }
  &-title {
    padding: 10px 7px 0px 7px;
    font-weight: bold;
  }
  &-vote_avarage {
    color: #fff;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4b45ff;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      height: 15px;
      width: 15px;
      border-radius: 3px;
      margin: 4px 7px 0px 0px;
      border: none;
    }
  }
}

@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
