.poster-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.poster-info {
  &-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 3;
    top:0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 293px;
    opacity: 0;
    &:hover {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 1)
      );
      cursor: pointer;
      animation: animateOpacity 0.5s ease-in-out forwards;
    }
  }
  &-overview {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height:72px;
    color: white;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    text-align: justify;
    padding: 10px 7px 0px 7px;
    margin-bottom: 10px;
  }
}

@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
