.poster-wrapper {
  position: relative;
  //   overflow: hidden;
}
.poster-info {
  &-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 14;
    top: 0;
    overflow: hidden;
    padding: 0;
    height: 100%;
    &:hover {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 1)
      );
      cursor: pointer;
      animation: animateOpacity 0.5s ease-in-out;
    }
  }
  &-overview {
    height: 70px;
    margin: 0;
    color: white;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    padding: 10px 4px 4px 4px;
  }
}

@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
