@import './shared/fonts';
//header
@import './components/header';
//basePage
@import './components/basePage';

// * {
//   box-sizing: border-box;
// }
body {
  position: relative;
  font-family: 'Montserrat', 'Helvetica';
  padding: 0;
  margin: 0;
  background: linear-gradient(
    to bottom right,
    #141412,
    #121212,
    rgba(18, 18, 18, 0.9)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.base-layout {
  // width: 100%;
  overflow-x: hidden;
}
.elipse {
  background-color: white;
  opacity: 0.12;
  position: fixed;
  border-radius: 50%;
  z-index: 0;
  &.eps1 {
    width: 385px;
    height: 392px;
    left: -243px;
    bottom: 30px;
  }
  &.eps2 {
    width: 463px;
    height: 427px;
    top: -195px;
    right: -350px;
  }
  &.eps3 {
    width: 271px;
    height: 280px;
    bottom: -140px;
    right: -100px;
  }
}
.loading-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(8, 8, 8, 0.9);
  display: none;
  backdrop-filter: blur(2.5rem);
  flex-direction: column;
  align-items: center;
}
.visible {
  display: flex;
}
.loading {
  display: flex;
  flex: 1;
  align-items: center;
}
