@import './shared/fonts';
//header
@import './components/header';
//basePage
@import './components/basePage';

html {
  // width: 100vw;
}
body {
  font-family: 'Montserrat', 'Helvetica';
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    to bottom right,
    #121212,
    #121212,
    rgba(18, 18, 18, 1)
  );
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.base-layout {
  width: 100%;
  overflow-x: hidden;
}
.elipse {
  background-color: white;
  opacity: 0.12;
  position: fixed;
  border-radius: 50%;
  z-index: 0;
  &.eps1 {
    width: 385px;
    height: 392px;
    left: -243px;
    bottom: 30px;
  }
  &.eps2 {
    width: 463px;
    height: 427px;
    top: -195px;
    right: -350px;
  }
  &.eps3 {
    width: 271px;
    height: 280px;
    bottom: -140px;
    right: -100px;
  }
}
