@import './components/person';
@import './components/trailer';
@import './components/watchProviders';

.media {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 3px;
    padding: 3rem;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.75);
  }
  &-presentation-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2rem;
  }
  &-presentation-info {
    color: white;
    padding-left: 2rem;
  }
  &-presentation-title {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.12rem;
    padding: 0;
    margin: 0;
  }
  &-presentation-overview {
    text-align: justify;
    font-size: 1rem;
  }
  &-presentation-poster-wrapper {
    max-height: 401px;
    max-width: 320px;
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.75);
  }
}
.cast-wrapper {
  flex: 1;
  width: 100%;
}
.vote-average > p {
  color: #4b45ff;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.genres {
  padding-bottom: 1.5rem;
}
.genres span {
  padding: 0.4rem;
  margin-right: 0.2rem;
  border-radius: 4px;
  border: 1px solid #4b45ff;
}
.release-date,
.budget,
.seasons {
  margin-bottom: 0.5rem;
  letter-spacing: 0.12rem;
}

@media screen and (max-width: 768px) {
  .media {
    &-container {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      width: 100vw;
    }
    &-wrapper {
      // margin-top: 8vh;
      width: 100%;
      background-color: transparent;
    }
    &-presentation-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;
    }
    &-presentation-info {
      width: 100%;
      margin-top: 1rem;
      padding: 0px;
    }
    &-presentation-poster-wrapper {
      width: 85%;
      height: 100%;
    }
    &-trailer {
      width: 100%;
      height: 300px;
      & > iframe {
        width: 100%;
        height: 300px;
      }
    }
  }
}
