@import './components/person';

.media {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
  &-presentation-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 0 2rem 0;
  }
  &-presentation-info {
    width: 70%;
    color: white;
    padding: 0 2rem;
  }
  &-presentation-title {
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
  &-presentation-overview {
    text-align: justify;
  }
  &-presentation-poster-wrapper {
    width: 15rem;
    border: 1px solid white;
  }
}
.cast-wrapper {
  flex: 1;
  width: 100%;
}
.vote-average > p {
  color: #4b45ff;
}
@media screen and (max-width: 768px) {
  .media {
    &-container {
      padding:0;
      margin:0;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &-wrapper {
      margin-top: 8vh;
      width:100vw;
    }
    &-presentation-wrapper {
      flex-direction: column;
      align-items: center;
      padding:1.5rem;
    }
    &-presentation-info {
      width: 100%;
    }
    &-presentation-poster-wrapper {
      width: 85%;
      height: 100%;
    }
  }
}
